<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StorageRoot" value="C:\temp\"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <authorization>
      <deny users="?" />
      <allow roles="Seller" />
      <deny roles="Buyer" />
      <deny roles="DeliveryAgent" />
      <deny roles="Guest" />
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="360"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
